/* Error: Expected expression.
 *   ,
 * 4 | $background-btn: 
 *   |                  ^
 *   '
 *   style\_core.sass 4:18  @use
 *   style\style.sass 1:1   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected expression.\a   \2577 \a 4 \2502  $background-btn: \d\a   \2502                   ^\a   \2575 \a   style\\_core.sass 4:18  @use\a   style\\style.sass 1:1   root stylesheet";
  color: hsl(176, 68%, 64%)
}
