@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  background: #1C2230;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: #181F2B;
}
body::-webkit-scrollbar-thumb {
  background-color: #65e2d9;
  border-radius: 20px;
}

.menu-container ul {
  list-style: none;
}
.menu-container ul li {
  font-family: "Raleway", sans-serif;
}
.menu-container ul li a {
  text-decoration: none;
  color: #e4e4e4;
  font-size: 20px;
  font-weight: 400;
}
.menu-container ul li a:hover {
  color: gray;
  transition: 0.5s;
}

.intro-container {
  background-image: url("../images/bg-curvy-desktop.svg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.intro-container h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  padding: 30px;
}
@media (max-width: 800px) {
  .intro-container h2 {
    font-size: 16px;
  }
}
.intro-container p {
  font-size: 16px;
}

.started-btn {
  width: 200px;
  padding: 10px;
  margin: 50px auto;
  border: none;
  border-radius: 20px;
  font-size: 22px;
  background-color: #339ECC;
  color: #fff;
}
.started-btn:hover {
  background-color: #65e2d9;
  transition: 0.5s;
}
.started-btn a {
  text-decoration: none;
  color: #fff;
}

.skills-container {
  background-color: #181F2B;
}

.prod-container {
  background-color: #181F2B;
  padding: 160px;
}
@media (max-width: 800px) {
  .prod-container {
    padding: 30px;
  }
}
.prod-container h2 {
  font-size: 30px;
  padding: 20px 0px;
}
.prod-container p {
  font-size: 16px;
}
.prod-container a {
  color: #fff;
  text-align: center;
}
@media (max-width: 800px) {
  .prod-container a {
    font-size: 18px;
  }
}
.prod-container a:hover {
  color: #65e2d9;
}
.prod-container a img {
  width: 15px;
}

.testemonial-container {
  background-color: #181F2B;
  background-image: url("../images/bg-quotes.png");
  background-position: top;
  background-size: 50px;
  background-repeat: no-repeat;
}
.testemonial-container .testemonial-box {
  background-color: #202A3C;
}

form {
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2862745098);
  border-radius: 5px;
}
form input {
  border: none;
  border-radius: 30px;
  font-size: 16px;
}
form p {
  font-size: 16px;
}

footer {
  background-color: #0B1523;
  text-align: center;
}
footer div a {
  color: #fff;
}

.attribution {
  color: #65e2d9;
}
.attribution a {
  color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 120px;
}
@media (max-width: 800px) {
  header {
    padding: 30px 20px;
  }
}
header ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
header ul li {
  margin-right: 30px;
}
@media (max-width: 800px) {
  header ul {
    margin: auto;
    padding: 10px;
  }
}

.intro-container {
  text-align: center;
  width: 55%;
  margin: 20px auto 0px;
  padding: 50px;
}
@media (max-width: 800px) {
  .intro-container {
    width: 90%;
  }
}

.skills-container {
  padding-top: 30px;
}
.skills-container .container {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
  width: 50%;
}
@media (max-width: 800px) {
  .skills-container .container {
    width: 80%;
  }
}
.skills-container .container div {
  padding-top: 50px;
  width: 40%;
  text-align: center;
}
@media (max-width: 800px) {
  .skills-container .container div {
    width: 80%;
    margin: auto;
  }
}
.skills-container .container div p {
  padding-top: 20px;
}

.prod-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 800px) {
  .prod-container {
    display: block;
  }
}
.prod-container div {
  width: 35%;
}
@media (max-width: 800px) {
  .prod-container div {
    width: 100%;
  }
}

.testemonial-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
}
@media (max-width: 800px) {
  .testemonial-container {
    display: block;
    padding: 20px 10px;
  }
}
.testemonial-container .testemonial-box {
  width: 30%;
  padding: 40px;
  border-radius: 10px;
}
@media (max-width: 800px) {
  .testemonial-container .testemonial-box {
    width: 90%;
    margin: 30px auto;
  }
}

form {
  text-align: center;
  margin: 0 auto;
  background-color: #181F2B;
  padding: 60px;
  width: 60%;
  margin-top: 30px;
}
@media (max-width: 800px) {
  form {
    width: 90%;
    padding: 20px 30px;
  }
}
@media (max-width: 800px) {
  form p {
    padding: 30px 0px;
  }
}
form input {
  width: 300px;
  padding: 10px;
  margin: 10px;
}
@media (max-width: 800px) {
  form input {
    width: 250px;
  }
}

footer {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
footer div {
  width: 8%;
}
@media (max-width: 800px) {
  footer div {
    width: 70%;
    margin: auto;
    padding: 20px;
  }
}
@media (max-width: 800px) {
  footer {
    display: block;
  }
}

.logo {
  width: 70%;
}

.intro-container img {
  width: 45%;
}

.skills-container div img {
  width: 10%;
}
@media (max-width: 800px) {
  .skills-container div img {
    width: 30%;
  }
}

.prod-container img {
  width: 30%;
}
@media (max-width: 800px) {
  .prod-container img {
    width: 80%;
  }
}

.profile-img {
  border-radius: 50%;
  width: 12%;
}
@media (max-width: 800px) {
  .profile-img {
    width: 15%;
    margin: 20px 0px 0px 0px;
  }
}

footer img {
  width: 20%;
}
@media (max-width: 800px) {
  footer img {
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
